/* Variables */

:root {
	--clr-primary: hsl(246, 76%, 5%);
	--clr-hover-primary: hsl(246, 75%, 10%);
	--clr-text-gray: hsl(0, 0%, 20%);
	--clr-gray: hsl(0, 0%, 94%);
	--clr-hover-gray: hsl(0, 0%, 90%);
	--clr-background-gray: hsl(0, 0%, 96%);
	--clr-hover-white: hsl(0, 0%, 92%);

	--transition-speed: 200ms;

	--fw-bold: 700;
}

/* Base Styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body,
button,
input,
textarea {
	font-family: 'Inter', sans-serif;
}

button {
	border: none;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3 {
	font-weight: var(--fw-bold);
}

p {
	line-height: 1.8;
}

img {
	width: 100%;
	object-position: center;
	object-fit: cover;
}

main {
	padding-bottom: 2rem;
}

button,
.button {
	font-size: 0.8rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	transition: background-color var(--transition-speed);
}

.container {
	padding: 0 2rem;
	height: inherit;
}

.section-heading {
	margin: 1em 0;
	font-size: clamp(1.8rem, 6vw, 3.2rem);
	color: var(--clr-primary);
}

.section-heading:hover:after {
	width: 25%;
}

.section-heading:after {
	content: '';
	display: block;
	margin-top: 0.2em;
	background-color: var(--clr-primary);
	height: 4px;
	width: 20%;
	transition: width var(--transition-speed);
}

/* Header */

.header__skip-to-main-content {
	position: absolute;
	top: 0;
	left: 1rem;
	transform: translateY(-100%);
	transition: transform var(--transition-speed);
	padding: 1em;
	font-size: 0.8rem;
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	background-color: white;
	color: var(--clr-primary);
}

.header__skip-to-main-content:focus {
	transform: translateX(0%);
}

header {
	height: 64px;
	background-color: var(--clr-primary);
	color: white;
}

.header__container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 1rem;
	font-weight: var(--fw-bold);
}

.header__nav ul {
	display: flex;
	gap: 1rem;
}

.header__nav-item {
	position: relative;
	font-size: 0.8rem;
}

.header__nav-item a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	transition: width var(--transition-speed);
	width: 0;
	height: 2px;
	background-color: white;
}

.header__nav-item a:hover::after,
.header__nav-item a:focus::after {
	width: 100%;
}

/* Home  */

.hero {
	background: center/cover url(./img/home-hero.webp);
	background-color: hsl(34, 65%, 54%);
	height: calc(100vh - 64px);
}

.hero__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__heading {
	font-size: clamp(2rem, 10vw, 3.8rem);
	color: var(--clr-primary);
}

.hero__subtitle {
	margin-top: 1em;
	max-width: 35rem;
	font-size: 1rem;
	color: white;
}

.hero__buttons {
	margin-top: 2em;
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.hero__buttons .button {
	padding: 1em 1.5em;
}

.button--primary {
	background-color: var(--clr-primary);
	color: white;
}

.button--primary:hover,
.button--primary:focus {
	background-color: var(--clr-hover-primary);
}

.button--secondary {
	background-color: white;
}

.button--secondary:hover,
.button--secondary:focus {
	background-color: var(--clr-hover-white);
}

.features__container {
	margin: 4em 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 2em;
}

.features__card img {
	width: 2em;
}

.features__card h2 {
	margin-top: 0.5em;
	font-size: 1.2rem;
}

.features__card p {
	margin-top: 1em;
	font-size: 0.8rem;
	color: var(--clr-text-gray);
}

/* About Page */

.about__block-container {
	display: flex;
	flex-direction: column;
	gap: 4em;
}

.about__block {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.about__block > * {
	flex: 1;
}

.about__block-content h2 {
	font-size: clamp(1.2rem, 3vw, 2rem);
}

.about__block-content p {
	margin-top: 1em;
	color: var(--clr-text-gray);
}

.about__block img {
	aspect-ratio: 5 / 3;
}

/* Models Page */

.models-section {
	overflow-x: clip;
}

.models-links {
	position: sticky;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 1.5em 50%;
	margin: 0 -50%;
	background-color: white;
	transition: box-shadow var(--transition-speed);
}

.models-links.stuck {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px -1px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px -1px;
}

.models-links ul {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.models-link a {
	display: inline-block;
	padding: 0.5em 1em;
	background-color: var(--clr-gray);
	border-radius: 5em;
	font-size: 0.8rem;
	color: var(--clr-text-gray);
}

.models-link a:hover {
	background-color: var(--clr-hover-gray);
	transition: var(--transition-speed);
}

.models-subsection {
	margin-top: 1.5em;
	min-height: 100vh;
	scroll-margin-top: 9em;
}

.models-subsection h2 {
	font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.models-grid {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 2em;
}

.models-card {
	align-self: start;
	border-radius: 5px;
	transition: background-color var(--transition-speed);
}

.models-card:hover {
	background-color: var(--clr-background-gray);
}

.models-card:focus-within {
	background-color: var(--clr-background-gray);
}

.models-card img {
	max-height: 180px;
	aspect-ratio: 5 / 3;
	object-fit: cover;
}

.models-card .card-content {
	position: relative;
	padding: 1.5em 1em;
	overflow: hidden;
}

.car-name {
	font-size: clamp(1rem, 3vw, 1.4rem);
}

.car-price {
	margin-top: 0.5em;
	font-size: 0.8rem;
	color: var(--clr-text-gray);
}

.car-link {
	display: inline-flex;
	align-items: center;
	margin-top: 1.5em;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: var(--clr-primary);
	transition: letter-spacing var(--transition-speed);
}

.car-link img {
	display: inline-block;
	width: 1em;
}

.car-link:hover,
.car-link:focus {
	text-decoration: underline;
	letter-spacing: 0.3em;
	color: var(--clr-hover-primary);
}

/* Contact Page */

.contact__form-container {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.contact__form-container > * {
	flex: 1;
}

.contact__form,
.contact__form-row {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contact__form-label,
.contact__form-input {
	display: block;
}

.contact__form-label {
	color: var(--clr-text-gray);
	font-size: 0.8rem;
}

.contact__form-input {
	width: 100%;
	margin-top: 0.5em;
	padding: 0.5em;
	font-size: 1rem;
}

textarea.contact__form-input {
	min-height: 6em;
	resize: vertical;
}

.contact__submit-button {
	align-self: flex-start;
	padding: 1em 1.5em;
	transition: padding var(--transition-speed);
}

.contact__submit-button:hover,
.contact__submit-button:focus {
	padding: 1em 2.5em;
}

/* Footer */

footer {
	margin-top: auto;
	background-color: var(--clr-background-gray);
}

.footer__container {
	padding: 1rem 0;
	text-align: center;
}

.footer__copyright {
	color: var(--clr-text-gray);
	font-size: 0.8rem;
}

/* Media Queries */

@media screen and (min-width: 480px) {
	/* Base Styles */

	.container {
		margin: 0 auto;
		padding: 0;
		width: 85%;
		max-width: 1024px;
	}

	.section-heading:after {
		height: 6px;
	}

	/* Header */

	.header__logo {
		font-size: 1.2rem;
	}

	.header__nav ul {
		gap: clamp(1.2rem, 3vw, 2rem);
	}

	.header__nav-item {
		font-size: 1rem;
	}

	/* Contact */

	.contact-form-row {
		flex-direction: row;
	}

	.contact-form-row > * {
		flex: 1;
	}
}

@media screen and (min-width: 720px) {
	/* Home */

	.features__card img {
		transition: var(--transition-speed);
	}

	.features__card:hover img {
		scale: 1.2;
		transform: rotate(-15deg);
	}

	/* About */

	.about__block--right {
		flex-direction: row;
	}

	.about__block--left {
		flex-direction: row-reverse;
	}

	/* Models */

	.models-subsection {
		scroll-margin-top: 6em;
	}

	.models-card img {
		max-height: 300px;
		transition: var(--transition-speed);
	}

	.models-card:hover img {
		aspect-ratio: 4 / 3;
		scale: 1.05;
	}

	.models-card:focus-within img {
		aspect-ratio: 4 / 3;
		scale: 1.05;
	}

	.models-card .car-link {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateX(-150px);
		opacity: 0;
		transition: var(--transition-speed);
	}

	.models-card:hover .car-link,
	.models-card .car-link:focus {
		position: relative;
		transform: translateX(0px);
		opacity: 1;
	}

	/* Contact */

	.contact__form-container {
		flex-direction: row;
	}
}

@media screen and (max-width: 720px) {
	/* Models */

	.models-card[data-aos-delay] {
		transition-delay: 0ms !important;
	}
}
